
/*  GLOBAL PAGE SETTING  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*  /GLOBAL PAGE SETTING  */

/*  HEADER  */
ul {
    list-style: none;
    line-height: 1.5em;
}

.ul-bottom {
    width: 50%;
    margin: 0 auto;
}

li {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}
/*  /HEADER  */

/*  TEXTS STYLING  */
h1 {
    font-size: 50px;
}

h1, .first-p  {
    color: white;
}

h2, .p-small {
    width: 40%;
}

h2 {
    font-size: 30px;
}

.h2-bottom {
    width: 50%;
}

h3 {
    padding-top: 23px;
    margin: 0 auto;
    text-align: center;
}

.p-small {
    margin-top: 10px;
}

.p-big {
    width: 45%;
    text-align: center;
    margin-top: 10px;
}

.first-p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
/*  /TEXTS STYLING  */

/*  BUTTONS  */
.buttons {
    width: 100%;
    margin: 10px auto;
}

button, #login {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding: 8px;
    width: 18%;
}

.black-button {
    background-color: black;
    color: white;
    width: 30%;
}

.blue-button {
    background-color: rgb(142, 161, 225);
    color: white;
    width: 11%;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.bottom-button {
    width: 100%;
    background-color: rgb(146, 164, 226);
    color: white;
}
/*  /BUTTONS  */

/*  SMALL IMAGE AND LOGOS  */
.image {
    width: 70%;
    margin-left: 100px;
}

.flag {
    width: 6%;
    vertical-align: middle;
}

.ita {
    display: inline-block;
    color: white;
    padding-bottom: 2px;
}

.insta-logo {
    padding-right: 5px;
}

.fb-logo {
    padding-bottom: 5px;
}

.yt-logo {
    padding-left: 5px;
}
/*  /SMALL IMAGE AND LOGOS  */

/*  CONTAINERS  */
header {
    background-color: rgb(37, 94, 233);
    padding: 10px 0px;
}

footer {
    background-color: black;
    border-top: 1px solid grey;
}

.container-header {
    max-width: 1300px;
    margin: 20px auto;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

.flag-container {
    line-height: 20px;
    margin-top: 20px;
}

.tech {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
}

.img-big {
    width: 80%;
    margin: 0 auto;
    background-size: contain;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    width: 7%;
    margin-right: 20px;
}
/*  /CONTAINERS  */

/*  UTILITY COLORS  */
.lightgrey {
    background-color: rgb(234, 234, 245);
}

.black {
    background-color: black;
}

.blueviolet {
    color: rgb(116, 140, 222);
}
/*  /UTILITY COLORS  */

/*  UTILITY COLUMNS CLASSES  */
.col-18 {
    width: calc(100% / 6);
}

.col-25 {
    width: 25%;
    padding: 5px;
}

.col-30 {
    width: calc(100% / 6 * 2);
    padding-left: 52px;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
    padding: 5px;
}

.col-55 {
    width: 55%;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 140px;
    flex-wrap: wrap;
}

.col-60 {
    width: 60%;
}

.col-100-tiny {
    width: 100%;
    padding: 20px 10px 50px 10px;
    align-items: center;
}

.col-100 {
    width: 100%;
}

.col-100-big {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
/*  /UTILITY COLUMNS CLASSES  */

/*  SPACING PROPERTIES  */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.direction-c {
    flex-direction: column;
}

.footer-button {
    width: 60px;
    text-align: center;
    padding: 3px;
}

.align-center {
    text-align: center;
    align-items: center;
}

.padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.col-40.height {
    padding: 20px 140px;
}
/*  /SPACING PROPERTIES  */

/*  IMAGES AND BACKGROUNDS  */
.main-image {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
}
/*  /IMAGES AND BACKGROUNDS  */