
/*  GLOBAL PAGE SETTING  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  /GLOBAL PAGE SETTING  */

/*  HEADER  */
ul {
    list-style: none;
}

li {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}
/*  /HEADER  */

/*  SECTION IL TUO POSTO PER PARLARE  */
.main-image {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, .first-p  {
    color: white;
}

h2, h3 {
    text-align: center;
}

h3 {
    width: 50%;
}

p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons {
    width: 100%;
    margin: 10px auto;
}

.stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
}

button, #login {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 18%;
}

.black-button {
    background-color: black;
    color: white;
    width: 30%;
}
/*  /SECTION IL TUO POSTO PER PARLARE  */

/*  SECTION UN LUOGO A INVITO  */
.col-40.height {
    padding: 20px 140px;
}
/*  SECTION UN LUOGO A INVITO  */

/*  CONTAINERS  */
header {
    background-color: rgb(37, 94, 233);
    padding: 10px 0px;
}

footer {
    background-color: black;
    border-top: 1px solid grey;
}

.container-header {
    max-width: 1300px;
    margin: 20px auto;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

.tech {
    margin: 0 auto;
    padding-bottom: 5px;
}

.img-big {
    width: 80%;
    margin: 0 auto;
    background-size: contain;
}

.padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  /CONTAINERS  */

/*  UTILITY COLORS  */
.orange {
    background-color: orange;
    border: 1px dashed black;
}

.lightgrey {
    background-color: rgb(234, 234, 245);
}

.lightblue {
    background-color: rgb(22, 123, 238);
}

.coral {
    background-color: coral;
}

.black {
    background-color: black;
}

.gold {
    background-color: gold;
    border: 1px dashed black;
}

.turquoise {
    background-color: turquoise;
    border: 1px dashed white;
}

.lime {
    background-color: lime;
}
/*  /UTILITY COLORS  */

/*  UTILITY COLUMNS CLASSES  */

.height {
    height: 250px;
}

.col-18 {
    width: calc(100% / 6);
}

.col-25 {
    width: 25%;
    padding: 5px;
}

.col-30 {
    width: calc(100% / 6 * 2);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
    padding: 5px;
}

.col-55 {
    width: 55%;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 140px;
    flex-wrap: wrap;
}

.col-60 {
    width: 60%;
}

.col-100-tiny {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.col-100 {
    width: 100%;
}

.col-100-big {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
/*  /UTILITY COLUMNS CLASSES  */

/*  DISPLAY PROPERTIES  */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.footer-button {
    width: 60px;
    text-align: center;
    padding: 3px;
}

.hg-50 {
    height: 50%;
}
/*  /DISPLAY PROPERTIES  */